.card {
    width: 16rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
    padding: 1rem;
}

.btn-outline-primary, .btn-outline-danger {
    border-color: transparent;
    transition: all 0.5s;
}

.btn-outline-primary:hover, .btn-outline-danger:hover {

}