.card {
    height: 26rem;
    width: 16rem;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    margin-top: 50px;
    cursor: pointer;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s;
}

.card img {
    border-radius: 10%;
    text-align: center;
    padding: 1rem;
}

.btn-outline-primary, .btn-outline-danger {
    border-color: transparent;
    transition: all 0.5s;
}