.container-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container-formulario h1 {
  text-align: center;
  margin-bottom: 60px;
}

.container-formulario form {
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.container-formulario .form-group {
  margin-bottom: 20px;
}

.container-formulario button {
  margin-right: 10px;
}

form {
  background: rgb(15, 13, 60);
  background: linear-gradient(90deg, rgba(15, 13, 60, 1) 0%, rgba(131, 0, 200, 1) 50%, rgba(255, 0, 254, 1) 100%);
  color: white;
}